*.log
LOG.old*

CURRENT
LOCK
MANIFEST-*
*.sst
*.blob
OPTIONS-*

*/cache/
CACHE_METADATA.json
DATABASE_METADATA.json
VERSION_METADATA.json

.git/hooks/*.sample

/node-*/genesis.json
/node-*/qbftConfigFile.json